.navbar-brand {
  line-height: 49px;
}

a {
  color: black;
  font-size: 16px;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-inner .carousel-item {
  height:400px;
  width:100%;
}

label {
/* Presentation */
font-size: 14px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
}

label input [type="checkbox"] {
display: none;
}

input[type="checkbox"] {
padding:0;
box-sizing:border-box;
display:none;
}

.custom-checkbox {
margin-left: 1em;
width: 100%;
height: 10px;
position: relative;
cursor: pointer;
}

.custom-checkbox .glyphicon {
color: rgb(74, 199, 36);
position: absolute;
top: 0.1em;
left: -1.25em;
font-size: 1em;
}

.custom-checkbox .glyphicon-heart-empty {
color: gray;
}

.custom-checkbox .glyphicon-heart {
opacity: 0;
transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-heart{
opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-heart {
opacity: 1;
}

.pagination {
display: flex;
padding-left: 0px;
list-style: none;
border-radius: 0.25rem;
justify-content: center;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}